.main{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.main h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: #2C2730;
    margin: 20px 0px 8px 0px;
}