a{
    scroll-behavior: smooth;
}
.navItem{
    display: flex;
    flex-direction: column;
    height: 73px;
    align-items: center;
    border-bottom: 1px solid #D9DFE5;
    color: #4E5762;
}

.navItem:hover{
    cursor: pointer;
    color: black;
}
.navItem:hover svg path{
    fill: #111;
}

.active{
    color: black;
}

.navItem svg path{
    fill: #8F949B;
}

.active svg path{
    fill: #111;
}
.navItem svg{
    margin-top: 16px;
    margin-bottom: 7px;
}
.navItem span{
    font-size: 12px;
    line-height: 14px;
}